/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    .action {
        margin-top:10px;
    }
    
    .empty-row {
        height: 38px;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
    .action {
        margin-top:10px;
    }
    
    .empty-row {
        height: 38px;
    }

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .action {
        margin-top:10px;
    }
    
    .empty-row {
        height: 38px;
    }

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .action {
        margin-top:10px;
    }
    
    .empty-row {
        height: 38px;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    
    .action {
        margin-top:0px;
    }
    
    .empty-row {
        height: 38px;
    }
}