
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Lawn Cron | Automate Your Chores</title>
    <base href="/">

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Custom Theme Style -->
    <link type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-mfizz/2.4.1/font-mfizz.min.css" rel="stylesheet">
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6//angular-route.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.2.0/ui-bootstrap-tpls.js"></script>
    <script data-main="/js/lawncron" src="/js/lib/requirejs/require.js"></script>
    
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.20.0/select.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.20.0/select.min.css">

    <!-- Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="css/custom.min.css" rel="stylesheet">
    <link href="css/lawncron.css" rel="stylesheet">
    
  </head>

  <body ng-controller="NavigationCtrl" ng-class="getNavClass()" ng-cloak>
    <div class="container body">
      <div class="main_container">
          <div>
            <div class="col-md-3 left_col">
              <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                  <a href="index.html" class="site_title"><i class="fa fa-leaf"></i> <span>LAWN CRON</span></a>
                </div>

                <div class="clearfix"></div>

                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu" ng-controller="UserCtrl">
                  <div class="menu_section">
                    <h3>General</h3>
                    <ul class="nav side-menu">
                      <li ng-show="user.loggedIn" ng-class="getTabClass('/schedules')">
                          <a href="/schedules"><i class="fa fa-calendar"></i>Schedules </a>
                      </li>
                      <li ng-show="user.loggedIn" ng-class="getTabClass('/rpis')">
                          <a href="/rpis"><i class="fa icon-raspberrypi"></i>Raspberry Pis</a>
                      </li>
                      <li ng-show="!user.loggedIn" ng-class="getTabClass('/login')">
                          <a href="/login"><i class="fa fa-sign-in"></i>Login </a>
                      </li>
                      <li ng-show="!user.loggedIn">
                          <a href="/register"><i class="fa fa-user-plus"></i>Register </a>
                      </li>
                      <li ng-show="user.loggedIn" ng-class="getTabClass('/logout')">
                          <a ng-click="navLogout()"><i class="fa fa-sign-out"></i>Logout </a>
                      </li>
                    </ul>
                  </div>

                </div>
                <!-- /sidebar menu -->
              </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
              <div class="nav_menu">
                <nav>
                  <div class="nav toggle">
                    <a id="menu_toggle" ng-click="toggleCollapse()"><i class="fa fa-bars"></i></a>
                  </div>

                  <ul class="nav navbar-nav navbar-right">
                  </ul>
                </nav>
              </div>
            </div>
            <!-- /top navigation -->
          </div>

        <!-- page content -->
        <ng-view></ng-view>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <div class="pull-right">
            Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>
  </body>
</html>
