<div class="modal-header">
    <h3 class="modal-title">
        Raspberry Pi 
        <i ng-show="loading" class="pull-right fa fa-spinner fa-spin fa-fw"></i>
    </h3> 
</div>
<div class="modal-body">
    
    <div class="row">
        <div class="col-lg-5">
            <strong> ID </strong>
        </div>
        <div class="col-lg-5">
            <strong> Created </strong>
        </div>
    </div>
        
    <div class="row" ng-repeat="pi in rpis track by $index">
        <div class="col-lg-5">
            {{ pi.id }}
        </div>
        
        <div class="col-lg-5">
            2017-03-03
        </div>
        
        <div class="col-lg-2">
            <a ng-click="remove(pi.id)"><i class="fa fa-times" aria-hidden="true"></i></a>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="create()">Create</button>
</div>