
<div class="right_col" role="main">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div ng-controller="ScheduleCtrl">
            <div class="x_panel">
                <div class="x_title">
                  <h2>Active Schedules</h2>
                  <div class="clearfix"></div>
                </div>
            </div>
            <button type="button" class="btn btn-primary x_panel" ng-click="create()">
                Create
            </button>
            <div class="x_panel" ng-repeat="s in schedules">
                <div class="x_content">
                  {{schedule=s.enabled ? s.clone : s;""}}
                  <article class="media event">
                    <div class="media-body" ng-show="!s.enabled" schedules-form></div>
                    <div class="media-body" ng-show="s.enabled" schedules-form></div>
                  </article>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>